
<section id="about-me-bg">
    <div class="container">
        <div class="row">
           <div id="about-me">
                <div class="col-sm-5 hidden-xs">
                    <%= image_tag "circl-img.png", class: "img-responsive"%>
                </div><!--COLUM-->
           <!--SHOWS THE IMAGE IN A SEPERATE ROW ON SCREEN SIZES LESS THAN 768 -->
                <div class="row hidden-lg hidden-md hidden-sm">
                    <div class="col-xs-8 col-xs-offset-2">
                        <%= image_tag "circl-img.png", class: "img-responsive", id: "img-fix"%>
                    </div><!--COL -->
                  <div class="col-xs-2">
                    </div>
                </div><!--ROW	 -->
                                <!--END MOBILE IMAGE -->
                <div class="col-sm-7 col-xs-12">
                    <div id="about-me-text">
                        <h2>Nick Gonzalez</h2>
                        <h3>I'm a Driven IT professional who is passionate about and experienced in providing client-faced support. I constantly strive to learn more about development and project management each day, and have a keen interest in all aspects of IT.</h3>
                        <div class="row">
                            <h4> Connect with me on LinkedIn!</h4> 
                            <p><a href="https://www.linkedin.com/pub/nicholes-gonzalez/108/9aa/75b"><%= image_tag "linkedin.png", class: "img-responsive img-center" %></a></p>
                        </div>                        
                    </div><!--ABOUT-ME-TEXT --> 
                </div><!--COLUM -->
            </div><!--ABOUT-ME -->
        </div><!--ROW -->
    </div><!--CONTAINER -->
</section>


<section> 
    <div class="container">
        <container class="container-fluid">
            <div id="footer-home">
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-md-offset-1">
                        <div class="skill-box">
                    		<div id="dev-skill">
                            	<h3>Promising Web Developer </h3>
                                <h4>This Is My Passion. I'm Always Looking To Make Time To Learn Something New.</h4>
                                <span class="glyphicon glyphicon-globe glyphicon-align-center"></span>
                            </div>
                        </div> <!-- SKILL-BOX -->
                    </div><!--COL -->
                    <div class="col-sm-4 col-md-4">
                        <div class="skill-box">
                            <div id="cus-skill">
                             <h3> Customer Service <br/>Expert </h3>
                             <h4>Over Eight Years Of Customer Service Experience As An Employee and in Leadership. </h4>
                             <span class="glyphicon glyphicon-briefcase glyphicon-align-center"> </span>   
                            </div>
                        </div> <!-- SKILL-BOX -->
                    </div><!--COL -->
                    <div class="col-sm-4 col-md-3">
                    	<div class="skill-box">
                        	<div id="tech-skill">
                            	<h3> Tech Support<br/>Specialist </h3>
                            	<h4>Desktop Support, Network Management, Computer Repair and Active Directory. </h4>
                          		<span class="glyphicon glyphicon-floppy-disk glyphicon-align-center"> </span>
		                    </div>
                        </div><!-- SKILL-BOX --> 
                    </div> <!--COL-->
                </div><!-- ROW -->
            </div> <!-- FOOTER-HOME -->
         </div> <!--CONTAINER-FLUID-->
    </div><!-- CONTAINER -->
</section>

<!-- javascript -->

</body>
</html>

