

<section id="resume">   
	<div class="container"> 
    	<div class="row">
        <div class="col-sm-3 res-head">
            	<aside  id="res-skill" >
            			  <%= image_tag "sqr-img.jpg", class: "img-responsive", id: "res-photo"%>
                        <div class="hidden-xs visible-sm visible-md visible-lg">
                            <h3>Skills &amp; Education</h3>
                            <ul>
                            <li><h4>Bachelor's of Information Technology(Fall 2015)</h4></li>
                            <li><h4>Customer Service </h4></li>
                            <li><h4>Multi-tasking</h4></li>
                            <li><h4>Bilingual</h4></li>
                            <li><h4>Java, C#, Objective-C </h4></li>
                            <li><h4>HTML/CSS</h4></li>
                            <li><h4>Ruby on Rails</h4></li>
                            <li><h4>Bootstrap</h4></li>
                            <li><h4>Network/Desktop Support</h4></li>
                            <li><h4>Team Building</h4></li>
                            </ul>
                         </div><!--VISIBLE/HIDDEN-->
                </aside>
            </div><!--COL -->
            <div class="col-sm-9 res-head" id="work-exp">
                 <%= image_tag "workexp.png", class: "img-responsive", id: "work-exp-img"%>
            	<div class="row">
                        <div class="col-sm-12">
                            <div class="work-exp-border">
                                <h3> InMotion PC – IT Managed Services Company </h3>
                                <h4 class="work-exp-title"> IT Support Specialist / SLA Manager 
                                11/2013 - Present</h4>
                                    <ul>
                                    <li>Maintain networks for 19 full service contract clients as 
                                    well as 9 block-of-time clients</li>
                                    <li>Responsible for all SLA requests being completed within two hours</li>
                                    <li>Accommodate client emergency service calls with 95% satisfaction and a retention rate of 100%</li>
                                    <li>Troubleshoot services related to Windows O/S, server and desktop hardware, Microsoft Office, POS software, QuickBooks, 
                                    routers, switches, access points and firewalls</li>
                                    <li>Assist with the design and implementation of new client network environments</li>
                                    <li>Manage all employee appointments and schedules</li>
                                    </ul>
                            </div> <!--BORDER -->
                        </div><!--COL -->
                        <div class="col-sm-12 ">
                            <div class="work-exp-border">
                                <h3> Best Buy </h3>
                                <h4 class="work-exp-title">Best Buy- Portable Electronics Supervisor 05/2011-08/2012 </h4>
                                    <ul>
                                    <li>Directly responsible for the Sales Metrics of the Digital Imaging, MP3, and Mobile Electronics Department.</li>
                                    <li>Maintained Department Merchandising Standards</li>
                                    <li>Delegated duties to the 12 direct report employees</li>
                                    <li>Proactively conducted positive supplemental Coaching and Training for employees</li>
                                    <li>Created a fun work environment and promoted team building</li>
                                    <li>Reported to leadership weekly staffing reports on the state of the business</li>
                                    <li>Developed strategies to exploit promotional opportunities and increase sales</li>
                                    </ul>
                            </div> <!--BORDER -->
                        </div><!--COL -->
                        <div class="col-sm-12">
                            <div class="work-exp-border">
                                <h4 class="work-exp-title">Best Buy- Senior Administrator 06/2010-05/2011 </h4>
                                    <ul>
                                    <li>Responsible for daily net cash receipts between $25,000 to $100,000+</li>
                                    <li>Opened the Stores Cash Management System and completed Opening reports</li>
                                    <li>Worked in Customer Service with a 95% customer satisfaction rating dealing with customers</li>
                                    <li>Served as Manager-on-Duty as needed </li>
                                    <li>Impacted Front Lane sales by increasing the purchase of Best Buys Protection plans from 3% to 7% which exceeded 
                                    system-wide goals</li>
                                    <li>Partnered with supervisor to create Coaching and Training around Loss Prevention and Sales Culture</li>
                                    </ul>
                            </div> <!--BORDER -->
                        </div><!--COL -->
                        <div class="col-sm-12">
                        	<div class="work-exp-border">
                                <h4 class="work-exp-title">Best Buy- Senior Administrator 06/2010-05/2011 </h4>
                                    <ul>
                                    <li>Day-to-day responsibility of selling complete solutions for customers</li>
                                    <li>Responsible for maintenance of the department</li>
                                    <li>Assured inventory integrity through 100% accurate stock counts, ordering product, and maintaining open item and shelf display 					 									inventory</li>
                                    <li>Identified End of Life product for return to vendor or sales discounting</li>
                                    </ul>
                             </div> <!--WORK-EXP-BORDER-->
                        </div> <!--COL -->
                        <div class="hidden-lg hidden-md hidden-sm col-xs-12">
                            <h4 class="work-exp-title">Skills &amp; Education</h4>
                                <ul>
                                	<li><h4> Bachelor's of Information Technology (Fall)</h4></li> 
                                    <li><h4>Customer Service </h4></li>
                                    <li><h4>Multi-tasking</h4></li>
                                    <li><h4>Bilingual</h4></li>
                                    <li><h4>MS Office </h4></li>
                                    <li><h4>Java Programming </h4></li>
                                    <li><h4>HTML/CSS</h4></li>
                                    <li><h4>JavaScript</h4></li>
                                    <li><h4>Bootstrap Framework</h4></li>
                                </ul>
                        </div> <!--COL -->
                    </div><!--ROW -->
            </div><!--COL-->
		</div><!--ROW -->
    </div><!--CONTAINER -->
</section>


<!-- javascript -->

</body>
</html>
